.forgot-password {
  max-width: 400px;
  width: 100vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 60px;
}

.forgot-password-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.resetpw-btns {
  cursor: pointer;
  width: 100%;
  align-items: center;
}

.reset-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.forgotpw-signup-link {
  text-decoration: none;
}
